<div class="loginView">
	<div class="alignCenter changeInput">
		<center>
		{{paper-input type="password" value=this.passwd  label="New Password" onChange=(action (mut this.passwd)) icon="lock"}}
		{{paper-input type="password" label="Confirm Password" value=this.confirmPasswd onChange=(action (mut this.confirmPasswd)) icon="lock"}}
		{{#paper-button raised=true onClick=(action 'resetPasswd' target=this)}} Reset Password {{/paper-button}}
		<p class="text-white"> Already Registered?  {{#link-to "login"}}Login{{/link-to}}  </p>
		</center>
	</div>
</div>
