@import 'variables';

.selectContext{
  width: 80%;
  margin-left: 9%;
  color: black;
  background-color: white;
}

.action-level-edit{
  color: white;
  background-color: $orange_color;
}

.action-edit-button{
  margin:auto;
}
