@import 'variables';

md-card{
  .character-details .card-media{
  width: 90% !important;

  }
}

.choosenCharacterImg {

 max-height: 25vh;
 max-width:80%;
}

.md-media-md {
  img {
    height: auto!important;
    width: auto!important;
    max-width: 100%;
    max-height: 25vh;
  }
}


.change-character {
  a {
    color: white;
    float: right;
    margin-right: 3%;
  }
}

.center-align{
  color: white;
  text-align: center;
}

.character-stats-in{
  margin: 5px;
}

.character-buttons{
  margin-top: 5%;
}

.character-title{
  .md-headline{
    margin: 0 auto;
  }
}

.character-button{
  width: 45%;
}



.stats-row{
  md-list-item, md-list-item .md-list-item-inner{
    min-height: 5vh;
  }
}

.character-stats-edit{
  .layout-row{
    height: 8vh;
    md-input-container{
      margin-top: 12px;
    }
    input{
      border: 1px solid;
      border-color: $orange_color !important;
    }
  }
}

.containerImg{
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  height:40vh;
  display: flex;
  align-items: center;

}

.space-around{
  padding: 5px;
}

img.alignCenter {
  margin-left: auto;
  margin-right: auto;

}

button.themeColor{
  color:white;
  background-color: #EA5309;
}


.inputWidth
{
  width:80%
}

.createStashDialogs {
  background-color: white;

}

#paper-wormhole{
  md-dialog{
    min-width: 70%;
    hr{
      color: black;
      width: 80%;
      margin: 0 auto;
    }
    }
}

.ember-text-area{
  margin-top: 10px;
  width: 98%;
  margin: 0 auto;
  border: 2px solid $character_img_border_color;
}

.popup-title{
  color: $orange_color !important;
  background-color: white !important;
  h2{
    margin: 0 auto !important;
  }

}
.error-panel{
  padding-left: 24px;
  color: red;
}

.stash-modal{
  width: 90%;
}


.character-detail-popup {
  width: 98%;
  margin: auto;
  margin-top: 25px;
   label{
    color: #e94e09 !important;
  }


    width: auto!important;
    max-width: 100%;
    max-height: 100%;
  }



.change-character {
  a {
    color: white;
    float: right;
    margin-right: 3%;
  }
}

.center-align{
  color: white;
  text-align: center;
}

.character-stats-in{
  margin: 5px;
}

.character-buttons{
  margin-top: 5%;
}

.character-title{
  .md-headline{
    margin: 0 auto;
  }
}

.character-button{
  width: 45%;
}



.stats-row{
  md-list-item, md-list-item .md-list-item-inner{
    min-height: 5vh;
  }
}

.character-stats-edit{
  .layout-row{
    height: 8vh;
    md-input-container{
      margin-top: 12px;
    }
    input{
      border: 1px solid;
      border-color: $orange_color !important;
    }
  }
}

.containerImg{
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  height:40vh;
  display: flex;
  align-items: center;

}

.space-around{
  padding: 5px;
}

img.alignCenter {
  margin-left: auto;
  margin-right: auto;

}

button.themeColor{
  color:white;
  background-color: #EA5309;
}


.inputWidth
{
  width:80%
}

.createStashDialogs {
  background-color: white;

}

#paper-wormhole{
  md-dialog{
    min-width: 70%;
    hr{
      color: black;
      width: 80%;
      margin: 0 auto;
    }
    }
}

.ember-text-area{
  margin-top: 10px;
  width: 98%;
  margin: 0 auto;
  border: 2px solid $character_img_border_color;
}

.popup-title{
  color: $orange_color !important;
  background-color: white !important;
  h2{
    margin: 0 auto !important;
  }

}
.error-panel{
  padding-left: 24px;
  color: red;
}

.stash-modal{
  width: 90%;
}


.character-detail-popup {
  width: 98%;
  margin: auto;
  margin-top: 25px;
   label{
    color: #e94e09 !important;
  }
}
