.listMargin {

  margin-top: 20%;
  max-height: 88%;
  position: relative;
  overflow: auto;

}

.characterMargin{
  margin-top: 20%;
  max-height: 88%;
  position: relative;
}

.chacaterButtons{
  margin-bottom: 3%;
}
