<div class="loginView">
	<div class="alignCenter changeInput">
		<center>
			<div class="flex">
				<div class="flex-column">
					{{paper-input value=ctrl.emailLogin label="Email" onChange=(action (mut ctrl.emailLogin)) icon="email"}}
				</div>
				<div class="flex-column">
					{{#paper-button id="forgot-password-btn" raised=true onClick=(action 'forgotpassword' target=ctrl)}} Send Email {{/paper-button}}
				</div>
			</div>
			<p class="text-white colored-link"> Already Registered?  {{#link-to "loginmodal"}}Login{{/link-to}}  </p>
	 </center>

	</div>
</div>
