<div id="owl-demo" class="owl-carousel owl-theme">
  {{#each itemList as |scene|}}
    <div class="item accelerated offload">
      <h3 class="center-align">{{scene.name}}</h3>
      <img class="fixImgSize" src={{scene.imageUrl}} alt="The Last of us">
    </div>
  {{/each}}
</div>
