.characterImg {

  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px!important;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;

}

.characterTypeButton {
  height:30px;
  margin-bottom: auto;
  margin-top:auto;
  margin-left:10px;
}
.randomMarginLeft
{

    margin-left:100px;

}

md-card-title{
  span {
    color:white;
  }

}
