.sceneImg {

  max-width: 404px;
  max-height: 250px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;

}


.sceneEditImg{
  max-width: 900px;
  max-height: 330px;
  width: auto !important;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;

}

.sceneButton{
    text-align: center;
    margin-right:15px;
    margin-top:5px;
}
