$nav_bar_color: "black";

$character_img_border_color: #e94e09;

$character_detail_card_background: #ffffff;
$character_title_color: rgba(0, 0, 0, 0.9);
$orange_color: #e94e09;
$modal_dialog_background: white;