<div class="loginView listMargin">
	<div class="alignCenter changeInput">
		<center>
			<div class="layout-column flex">
				{{paper-input flex=30 type="password" value=this.passwd  label="New Password" onChange=(action (mut this.passwd)) icon="lock"}}
				{{paper-input flex=30 type="password" label="Confirm Password" value=this.confirmPasswd onChange=(action (mut this.confirmPasswd)) icon="lock"}}
				{{#paper-button flex=30 raised=true onClick=(action 'resetPasswd' target=this)}} Reset Password {{/paper-button}}
				<p class="text-white flex-10"> Already Registered?  {{#link-to "loginmodal"}}Login{{/link-to}}  </p>
			</div>
		</center>
	</div>
</div>
