<div class="loginView">
	<div class="alignCenter changeInput">
		<center>
			<form {{action 'forgotpassword' target=ctrl on="submit"}}>
				{{paper-input value=ctrl.emailLogin label="Email" onChange=(action (mut ctrl.emailLogin)) icon="email"}}
				{{#paper-button id="forgot-password-btn" raised=true type="submit"}} Send Email {{/paper-button}}
			</form>
			<p class="text-white colored-link"> Already Registered?  {{#link-to "login"}}Login{{/link-to}}  </p>
	 </center>
	</div>
</div>
